[submodule "examples/esp-idf/components/ArduinoJson"]
	path = examples/esp-idf/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "examples/esp-idf/components/esp_littlefs"]
	path = examples/esp-idf/components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
